.reactions {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
  
    .score {
      color: hsl(223, 19%, 93%);
    }
  
    .reactionButton {
      background-color: transparent;
      width: 100%;
    }
  }
  